forecast hours: ['006']
window begin: {{ window_begin }}
state variables: [liq_wat,delz,delp,w,graupel,hgtsfc,
                  ice_wat,ice_nc,rain_nc,o3mr,rainwat,snowwat,sphum,t,ua,va]
increment variables: [ua,va,t,sphum,ice_wat,liq_wat,o3mr,delp,delz]
background geometry:
  fms initialization:
    namelist filename: ./fv3jedi/fmsmpp.nml
    field table filename: ./fv3jedi/field_table
  akbk: ./fv3jedi/akbk.nc4
  layout:
  - {{ atmosphere_layout_x }}
  - {{ atmosphere_layout_y }}
  npx: {{ atmosphere_npx_ges }}
  npy: {{ atmosphere_npy_ges }}
  npz: {{ atmosphere_npz_ges }}
  field metadata override: ./fv3jedi/fv3jedi_fieldmetadata_history.yaml
increment geometry:
  fms initialization:
    namelist filename: ./fv3jedi/fmsmpp.nml
    field table filename: ./fv3jedi/field_table
  akbk: ./fv3jedi/akbk.nc4
  layout:
  - {{ atmosphere_layout_x }}
  - {{ atmosphere_layout_y }}
  npx: {{ atmosphere_npx_ges }}
  npy: {{ atmosphere_npy_ges }}
  npz: {{ atmosphere_npz_ges }}
  field metadata override: ./fv3jedi/fv3jedi_fieldmetadata_fv3inc.yaml
ensemble mean analysis geometry:
  fms initialization:
    namelist filename: ./fv3jedi/fmsmpp.nml
    field table filename: ./fv3jedi/field_table
  akbk: ./fv3jedi/akbk.nc4
  layout:
  - {{ atmosphere_layout_x }}
  - {{ atmosphere_layout_y }}
  npx: {{ atmosphere_npx_anl }}
  npy: {{ atmosphere_npy_anl }}
  npz: {{ atmosphere_npz_anl }}
  field metadata override: ./fv3jedi/fv3jedi_fieldmetadata_history.yaml  
correction increment geometry:
  fms initialization:
    namelist filename: ./fv3jedi/fmsmpp.nml
    field table filename: ./fv3jedi/field_table
  akbk: ./fv3jedi/akbk.nc4
  layout:
  - {{ atmosphere_layout_x }}
  - {{ atmosphere_layout_y }}
  npx: {{ atmosphere_npx_anl }}
  npy: {{ atmosphere_npy_anl }}
  npz: {{ atmosphere_npz_anl }}
  field metadata override: ./fv3jedi/fv3jedi_fieldmetadata_fv3inc.yaml
additions from template: 
  pattern: '%hr%'
  template:
    background:
      filetype: cube sphere history
      provider: ufs
      filename: ./atmf%hr%.nc
    increment:
      filetype: fms restart
      is restart: false
      filename_nonrestart: ./atmi%hr%.nc
    ensemble mean analysis:
      filetype: cube sphere history
      provider: ufs
      filename: ./atma%hr%.ensmean.nc
    correction increment:
      filetype: fms restart
      is restart: false
      filename_nonrestart: ./catmi%hr%.nc
