variable change:
  variable change name: Model2GeoVaLs
  input variables: &bkgvars [eastward_wind,northward_wind,air_temperature,air_pressure_at_surface,
                             water_vapor_mixing_ratio_wrt_moist_air,
                             cloud_liquid_ice,cloud_liquid_water,ozone_mass_mixing_ratio,
                             air_pressure_thickness,
                             snow_water,rain_water,graupel,
                             rain_number_concentration,cloud_ice_number_concentration,
                             geopotential_height_at_surface,upward_air_velocity]
  output variables: &fv3incrvars [eastward_wind,northward_wind,air_temperature,air_pressure_at_surface,
                                  water_vapor_mixing_ratio_wrt_moist_air,
                                  cloud_liquid_ice,cloud_liquid_water,ozone_mass_mixing_ratio,
                                  air_pressure_thickness,layer_thickness,
                                  snow_water,rain_water,graupel,
                                  rain_number_concentration,cloud_ice_number_concentration,
                                  geopotential_height_at_surface,upward_air_velocity]                             
jedi increment variables: [eastward_wind,northward_wind,air_temperature,air_pressure_at_surface,
                           water_vapor_mixing_ratio_wrt_moist_air,
                           cloud_liquid_ice,cloud_liquid_water,ozone_mass_mixing_ratio]
fv3 increment variables: *fv3incrvars
background geometry:
  fms initialization:
    namelist filename: ./fv3jedi/fmsmpp.nml
    field table filename: ./fv3jedi/field_table
  akbk: ./fv3jedi/akbk.nc4
  layout:
  - {{ atmosphere_layout_x }}
  - {{ atmosphere_layout_y }}
  npx: {{ atmosphere_npx_ges }}
  npy: {{ atmosphere_npy_ges }}
  npz: {{ atmosphere_npz_ges }}
  field metadata override: ./fv3jedi/fv3jedi_fieldmetadata_history.yaml
jedi increment geometry:
  fms initialization:
    namelist filename: ./fv3jedi/fmsmpp.nml
    field table filename: ./fv3jedi/field_table
  akbk: ./fv3jedi/akbk.nc4
  layout:
  - {{ atmosphere_layout_x }}
  - {{ atmosphere_layout_y }}
  npx: {{ atmosphere_npx_ges }}
  npy: {{ atmosphere_npy_ges }}
  npz: {{ atmosphere_npz_ges }}
  field metadata override: ./fv3jedi/fv3jedi_fieldmetadata_fv3inc.yaml
fv3 increment geometry:
  fms initialization:
    namelist filename: ./fv3jedi/fmsmpp.nml
    field table filename: ./fv3jedi/field_table
  akbk: ./fv3jedi/akbk.nc4
  layout:
  - {{ atmosphere_layout_x }}
  - {{ atmosphere_layout_y }}
  npx: {{ atmosphere_npx_ges }}
  npy: {{ atmosphere_npy_ges }}
  npz: {{ atmosphere_npz_ges }}
  field metadata override: ./fv3jedi/fv3jedi_fieldmetadata_fv3inc.yaml
members:
- background input:
    datapath: ./bkg
    filetype: cube sphere history
    provider: ufs
    ufs soil nlev: 4
    ufs fields split by level: [smc,stc]
    datetime: "{{ atmosphere_background_time_iso }}"
    filenames: [ atmf006.nc, sfcf006.nc ]
    state variables: *bkgvars
  jedi increment input:
    filetype: fms restart
    is restart: false
    filename is datetime templated: true
    filename_nonrestart: ./anl/atminc.jedi.nc
  fv3 increment output:
    filetype: fms restart
    is restart: false
    filename_nonrestart: ./anl/atminc.nc
  analysis to structured grid:
    grid type: regular gaussian
    local interpolator type: oops unstructured grid interpolator
    all model levels: true
    number of latitude gridpoints: 96
    prefix: atmanl
    use time dimension: true    
    use dummy surface levels: false
    level first dimension ordering: true
    variables to output: *fv3incrvars
    field aliases:
      dimensions:
      - name: longitude
        io name: grid_xt
        variable io name: grid_xt
      - name: latitude
        io name: grid_yt
        variable io name: grid_yt
      - name: levels
        io name: pfull
        variable io name: pfull               
      variables:
      - name: eastward_wind
        io name: ugrd
      - name: northward_wind
        io name: vgrd
      - name: air_temperature
        io name: tmp
      - name: air_pressure_at_surface
        io name: pressfc
      - name: water_vapor_mixing_ratio_wrt_moist_air
        io name: spfh
      - name: cloud_liquid_ice
        io name: icmr
      - name: cloud_liquid_water
        io name: clwmr
      - name: ozone_mass_mixing_ratio
        io name: o3mr
      - name: air_pressure_thickness
        io name: dpres
      - name: layer_thickness
        io name: delz
      - name: snow_water
        io name: snmr
      - name: rain_water
        io name: rwmr
      - name: graupel
        io name: grle
      - name: cloud_ice_number_concentration
        io name: nccice
      - name: geopotential_height_at_surface
        io name: hgtsfc
      - name: upward_air_velocity
        io name: dzdt

# Optionally test the application
{% if do_testing | default(false) %}
test:
  reference filename: {{test_reference_filename}}
{% if test_output_filename is defined %}
  test output filename: {{test_output_filename}}
{% endif %}
{% if log_output_filename is defined %}
  log output filename: {{log_output_filename}}
{% endif %}
{% if mpi_pattern is defined %}
  mpi pattern: {{mpi_pattern}}
{% endif %}
  float relative tolerance: {{test_float_relative_tolerance | default(1.0e-6, true)}}
  float absolute tolerance: {{test_float_absolute_tolerance | default(0.0, true) }}
  integer tolerance: {{test_integer_tolerance | default(0, true) }}
{% endif %}
